<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Restaurant</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="navigation">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/foods">GRUB</a></li>
    <li><a href="/parties">PARTIES</a></li>
  </ul>

</div>
	<%= yield %>
</body>
</html>