<form action="/foods" method="post">
	<input type="text" name="food[course]" placeholder="Course">
	<input type="text" name="food[name]" placeholder="Item">
	<input type="text" name="food[price]" placeholder="Price">
	<input type="text" name="food[any_allergens]" placeholder="Allergens?">
	<input type="submit" value="Add New Food!">
</form>

<a href="/foods">Cancel</a>