<form action="/parties" method="post">
	<input type="text" name="party[table_num]" placeholder="Table No">
	<input type="text" name="party[guests]" placeholder="Number of Guest">
	<input type="text" name="party[payment_complete]" placeholder="Payment Complete?">
	<input type="submit" value="Add New Party!">
</form>

<a href="/parties"><button type="button">Cancel</button></a>